.signs {
        width: 80px;
        height: 80px;
        background: #fc0;
        display: inline-block;
        text-align: center;
        line-height: 60px;
        user-select: none;
        color: turquoise;
        }
        
  .btn {
        width: 60px;
        height: 60px;
        background: rgb(243, 139, 21);
        display: inline-block;
        text-align: center;
        line-height: 60px;
        user-select: none;
        border-color: black;
        border-style: solid;
        border-width: medium;
    }
 
    .btn:hover {
        background: #f70;
        color: #fff;
    }
 
    #calc-wrap {
        padding: 20px;
        width: 100%;
        text-align: center;
        background: none;
    }
    
 
    #calc {
        width: 260px;
        display: inline-block;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        background: tomato;
    }
 
    #inputVal {
        width: 100%;
        border: 0;
        font-size: 20px;
        resize: vertical;
        background: tomato;
        border-color: black;
        border-style: solid;
        border-width: medium;
    }